<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/login.css">
</head>

<body>
    <div id="root">
        <h1>Login</h1>
        <form id="login-form">
            <div>
                <input type="email" placeholder="email" id="email" name="email" required>
            </div>
            <br />
            <div>
                <input type="text" placeholder="password" id="password" name="password" required>
            </div>
            <br />
            <div>
                <button id="submitBtn" type="submit">Login</button>
            </div>
        </form>
        <div id="Signup">
            Don't have an account? Signup
        </div>
    </div>
</body>
<script src="./js/login.js"></script>
</html>