<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="./css/signup.css">
</head>
<body>
    <div id="root">
        <h1>Signup</h1>
        <form id = "signupForm">
            <div>
                <input type="text" id = "name" name="name" placeholder="name" required>
            </div>
            <br />
            <div>
                <input type="email" id = "email" name="email" placeholder="email" required>
            </div>
            <br/>
            <div>
                <input type="text" id = "password" name = "password" placeholder="password" required>
            </div>
            <br/>
            <div>
                <button type="submit" id = "submitBtn">Signup</button>
            </div>
        </form>
        <div id="login">Already have an account? Login</div>
    </div>
</body>
<script src="./js/signup.js"></script>
</html>